.card{
    display: flex;
    padding: 2rem;
    gap: 4rem;
    border-radius: 8px;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.10);

    h4{
       color: var(--gray-text);
    }
}

.card-container{
    padding: 2rem 0rem;
}

.card-message{
    padding: 1.5rem 0rem;
}

.card-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    flex: 0 0 auto;
}
