.header-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem 0rem;
    justify-content:space-between;

    div{
        display: flex;
        gap: 2rem;
    }

    button{
        padding: .6rem 2.5rem;
        font-size: 1.3rem;
        background: none;
        border-radius: 8px;
        border: 2px solid var(--blue);
        color: var(--white);
        background-color: var(--blue);
        cursor: pointer;

        &:hover{
            background-color: white;
            color: var(--blue);
            transition: .3s;            
        }
    }
}